* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font: sans-serif;
}
/*change everything to make a glass*/
section {
    background-color: brown;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*change everything to make a glass*/
.container {
    width: 90%;
    max-width: 400px;
    background-color: chartreuse;
    border-radius: 10px;
    overflow: hidden;
    
}
/*change everything to make a glass*/
.display {
    background-color: chocolate;
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 25px;
    position: relative;
    
}
.display-1 {
    opacity: 0.4;
    font-size: 17px;
    height: 20px;
    overflow: hidden;
    
}
.temp-result {
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: 0.4;
}
.all_buttons {
    color: white;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    
}
.button {
    border: 1px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.button:hover {
    background-color: blue;
}
.btn-0 {
    grid-column: 1/3;
}
